#init-search-box,
.init-banner,
.total-count {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 600;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.octicon {
  vertical-align: text-bottom;
}

.init-banner h2 {
  margin-inline-start: 20px;
  font-size: 1.1em;
  font-weight: 400;
}

.init-banner h2 strong{
  font-size: 1.2em;
  font-weight: 600;
}

@media (min-width: 768px) {
  #search-box {
    display: none;
  }
}