.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#init-search-box,
.init-banner,
.total-count {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 600;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.octicon {
  vertical-align: text-bottom;
}

.init-banner h2 {
  font-size: 1.2em;
  margin-inline-start: 20px;
}

@media (min-width: 768px) {
  #search-box {
    display: none;
  }
}